
<div class="row">
    <div class="btn-group btn-block">
        <a class="btn-lg btn-dark" asp-route-id="" asp-page="/AllProducts/Candy">Godis</a>
        <a class="btn-lg btn-dark" asp-route-id="" asp-page="/AllProducts/Chips">Chips</a>
        <a class="btn-lg btn-dark" asp-route-id="" asp-page="/AllProducts/Soda">Dryck</a>
    </div>
</div>
